@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: masthead;
  src: url('/SundayMasthead-Regular.otf');
}

@font-face {
  font-family: powerr;
  src: url('/Powerr\ Med_Regular.json');
}
